html { font-size: 62.5%; } 
body { 
	font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
	font-size: 16px; 
	font-size: 1.6rem; 
	font-weight: 300;
} /* =14px */


h1 {
	font-size: 28px;
	font-size: 2.8rem;
}

h2 {
	font-size: 24px;
	font-size: 2.4rem;
}

dt, dd {
	display: inline-block;
}

dt {
	margin: 0 5px 0 0;
	font-weight: 600;
}

dd {
	margin: 0 40px 0 0;
}


#contenedor, #aviso {
	display: block;
	box-sizing: border-box;
	
	width: 90%;
	padding: 30px;
	margin: 20px auto;
}

#contenedor {
	background-color: #ddd;
	color: #222;
}